.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    width: 100%;
  }
  
  .spinner {
    border: 8px solid var(--loader-background-color);
    border-top: 8px solid var(--loader-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  body.light {
    --loader-background-color: #f3f3f3;
    --loader-color: #1976d2;
  }
  
  body.dark {
    --loader-background-color: #3c3c3c;
    --loader-color: #bb86fc;
  }
  